USE [master]
GO
/****** Object:  Database [Barberia]    Script Date: 1/11/2025 16:23:02 ******/
CREATE DATABASE [Barberia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Barberia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Barberia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Barberia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Barberia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Barberia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Barberia]
GO
/****** Object:  User [Gestor]    Script Date: 1/11/2025 16:23:02 ******/
CREATE USER [Gestor] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin_barberia]    Script Date: 1/11/2025 16:23:02 ******/
CREATE USER [admin_barberia] FOR LOGIN [admin_barberia] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin_barberia]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [varchar](15) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido1] [varchar](30) NOT NULL,
	[Apellido2] [varchar](30) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[CorreoElectronico] [varchar](320) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioRegistro] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[ServicioID] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Imagen] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaID] [varchar](10) NOT NULL,
	[ClienteID] [varchar](15) NOT NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[FechaVenta] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[DetalleID] [varchar](10) NOT NULL,
	[VentaID] [varchar](10) NOT NULL,
	[ServicioID] [varchar](10) NULL,
	[ProductoID] [varchar](10) NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventarioProductos]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarioProductos](
	[ProductoID] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Marca] [varchar](30) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[FechaEntrada] [date] NOT NULL,
	[FechaSalida] [date] NULL,
	[Imagen] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VentasDetalle]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_VentasDetalle]
AS
SELECT
  v.VentaID,
  v.FechaVenta,
  v.ClienteID,
  (c.Nombre + ' ' + c.Apellido1) AS Cliente,
  d.DetalleID,
  d.ServicioID,
  s.Nombre  AS ServicioNombre,
  d.ProductoID,
  p.Nombre  AS ProductoNombre,
  d.Cantidad,
  d.PrecioUnitario,
  d.Subtotal
FROM Ventas v
JOIN DetalleVentas d      ON d.VentaID = v.VentaID
LEFT JOIN Servicios s     ON s.ServicioID = d.ServicioID
LEFT JOIN InventarioProductos p ON p.ProductoID = d.ProductoID
LEFT JOIN Clientes c      ON c.ClienteID = v.ClienteID;

GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](128) NOT NULL,
	[Accion] [varchar](10) NOT NULL,
	[Usuario] [varchar](50) NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[Llave] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[BitacoraAcciones]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BitacoraAcciones]
AS
SELECT
  BitacoraID,
  Tabla      AS TablaAfectada,
  Accion     AS TipoAccion,
  Usuario,
  Fecha      AS FechaAccion,
  Detalle    AS Descripcion,
  Llave
FROM dbo.Bitacora;

GO
/****** Object:  Table [dbo].[Barberos]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barberos](
	[BarberoID] [varchar](15) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido1] [varchar](30) NOT NULL,
	[Apellido2] [varchar](30) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[CorreoElectronico] [varchar](320) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaContratacion] [date] NOT NULL,
	[Estado] [char](1) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioRegistro] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BarberoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_BarberosActivos]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_BarberosActivos] AS
SELECT 
    BarberoID,
    Nombre,
    Apellido1,
    Apellido2,
    Telefono,
    CorreoElectronico,
    FechaNacimiento,
    FechaContratacion,
    Estado,
    FechaCreacion,
    UsuarioRegistro
FROM Barberos
WHERE Estado = 'A';
GO
/****** Object:  View [dbo].[VistaClientesActivos]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaClientesActivos] AS
SELECT 
  ClienteID,
  Nombre,
  Apellido1,
  Apellido2,
  CorreoElectronico,
  Telefono,
  Direccion,
  CONVERT(varchar, FechaNacimiento, 103) AS FechaNacimiento,  -- dd/mm/yyyy
  Estado,
  CASE Estado
    WHEN 'A' THEN 'Activo'
    WHEN 'I' THEN 'Inactivo'
  END AS EstadoDescripcion,
  FechaRegistro,
  UsuarioRegistro
FROM Clientes
WHERE Estado = 'A';
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[CitaID] [varchar](10) NOT NULL,
	[ClienteID] [varchar](15) NOT NULL,
	[BarberoID] [varchar](15) NOT NULL,
	[ServicioID] [varchar](10) NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Notas] [varchar](200) NULL,
	[UsuarioRegistro] [varchar](50) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[EspecialidadID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo]  AS ('ESP'+right('00'+CONVERT([varchar],[EspecialidadID]),(2))) PERSISTED,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecialidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadesBarbero]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadesBarbero](
	[BarberoID] [varchar](15) NOT NULL,
	[EspecialidadID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BarberoID] ASC,
	[EspecialidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [varchar](10) NOT NULL,
	[VentaID] [varchar](10) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[FechaPago] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [varchar](10) NOT NULL,
	[BarberoID] [varchar](15) NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contrasena] [varbinary](64) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[UltimoAcceso] [datetime] NOT NULL,
	[CorreoElectronico] [varchar](320) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Citas_Barbero_Fecha]    Script Date: 1/11/2025 16:23:02 ******/
CREATE NONCLUSTERED INDEX [IX_Citas_Barbero_Fecha] ON [dbo].[Citas]
(
	[BarberoID] ASC,
	[Fecha] ASC,
	[HoraInicio] ASC,
	[HoraFin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Usuarios_NombreUsuario]    Script Date: 1/11/2025 16:23:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Usuarios_NombreUsuario] ON [dbo].[Usuarios]
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Barberos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Bitacora] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (sysdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('admin') FOR [UsuarioRegistro]
GO
ALTER TABLE [dbo].[Citas] ADD  CONSTRAINT [DF_Citas_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([BarberoID])
REFERENCES [dbo].[Barberos] ([BarberoID])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicios] ([ServicioID])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicios] ([ServicioID])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
GO
ALTER TABLE [dbo].[EspecialidadesBarbero]  WITH CHECK ADD FOREIGN KEY([BarberoID])
REFERENCES [dbo].[Barberos] ([BarberoID])
GO
ALTER TABLE [dbo].[EspecialidadesBarbero]  WITH CHECK ADD FOREIGN KEY([EspecialidadID])
REFERENCES [dbo].[Especialidades] ([EspecialidadID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([BarberoID])
REFERENCES [dbo].[Barberos] ([BarberoID])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Barberos]  WITH CHECK ADD CHECK  (([Estado]='I' OR [Estado]='A'))
GO
ALTER TABLE [dbo].[Bitacora]  WITH NOCHECK ADD  CONSTRAINT [CK_Bitacora_Accion] CHECK  (([Accion]='DELETE' OR [Accion]='UPDATE' OR [Accion]='INSERT'))
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [CK_Bitacora_Accion]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD CHECK  (([Estado]='R' OR [Estado]='C' OR [Estado]='P'))
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [CK_Citas_Horas] CHECK  (([HoraInicio]<[HoraFin]))
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [CK_Citas_Horas]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD CHECK  (([Estado]='I' OR [Estado]='A'))
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVentas_Tipo] CHECK  (([ServicioID] IS NOT NULL AND [ProductoID] IS NULL OR [ServicioID] IS NULL AND [ProductoID] IS NOT NULL))
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [CK_DetalleVentas_Tipo]
GO
/****** Object:  StoredProcedure [dbo].[sp_CRUD_InventarioProductos]    Script Date: 1/11/2025 16:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CRUD_InventarioProductos]
  @Accion       CHAR(1),           -- 'C','R','U','D'
  @ProductoID   VARCHAR(10) = NULL,
  @Nombre       VARCHAR(50) = NULL,
  @Marca        VARCHAR(30) = NULL,
  @Descripcion  VARCHAR(100)= NULL,
  @PrecioVenta  DECIMAL(10,2)= NULL,
  @Costo        DECIMAL(10,2)= NULL,
  @StockActual  INT = NULL,
  @StockMinimo  INT = NULL,
  @FechaEntrada DATE = NULL,
  @FechaSalida  DATE = NULL
AS
BEGIN
  SET NOCOUNT ON;

  IF @Accion='C'
  BEGIN
    INSERT INTO InventarioProductos
      (ProductoID, Nombre, Marca, Descripcion, PrecioVenta, Costo, StockActual, StockMinimo, FechaEntrada, FechaSalida)
    VALUES
      (@ProductoID,@Nombre,@Marca,@Descripcion,@PrecioVenta,@Costo,@StockActual,@StockMinimo,ISNULL(@FechaEntrada,GETDATE()),@FechaSalida);
    RETURN;
  END

  IF @Accion='R'
  BEGIN
    SELECT * FROM InventarioProductos WHERE ProductoID = @ProductoID;
    RETURN;
  END

  IF @Accion='U'
  BEGIN
    UPDATE InventarioProductos
       SET Nombre=@Nombre, Marca=@Marca, Descripcion=@Descripcion,
           PrecioVenta=@PrecioVenta, Costo=@Costo,
           StockActual=@StockActual, StockMinimo=@StockMinimo,
           FechaEntrada=ISNULL(@FechaEntrada, FechaEntrada),
           FechaSalida=@FechaSalida
     WHERE ProductoID=@ProductoID;
    RETURN;
  END

  IF @Accion='D'
  BEGIN
    DELETE FROM InventarioProductos WHERE ProductoID=@ProductoID;
    RETURN;
  END
END

GO
USE [master]
GO
